<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics - app.doublegdp.com stream -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E4KP1B4LDQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-E4KP1B4LDQ');
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E4KP1B4LDQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-E4KP1B4LDQ');
    </script>

    <title>DoubleGDP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- App Icon -->
    <link href="/images/Nkwashi-180.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="/images/Nkwashi-192.png" rel="icon" sizes="192x192" />

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= render 'layouts/rollbar_js' if Rails.env.production? %>
  </head>

  <body>
    <div id="root">
    </div>
    <%= javascript_pack_tag 'react_main' %>

  </body>
</html>
