<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics - app.doublegdp.com stream -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150647211-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-150647211-2');
    </script>

    <title>DoubleGDP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#25c0b0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="//unpkg.com/leaflet@1.6.0/dist/leaflet.css" />

    <!-- App Icon -->
    <link href="/images/Nkwashi-180.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="/images/Nkwashi-192.png" rel="icon" sizes="192x192" />

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= render 'layouts/rollbar_js' if Rails.env.production? %>
  </head>

  <body>
    <div id="root">
    </div>
    <%= javascript_pack_tag 'react_main' %>

    <button id="btn">Install</button>

  <script>
    if (navigator.serviceWorker) {
      navigator.serviceWorker
        .register('/service-worker.js', { scope: './' })
        .then(function(reg) {
          console.log('[Companion]', 'Service worker registered!!!')
          console.log(reg)
        })
    }

    let deferredPrompt;

      window.addEventListener('beforeinstallprompt', (e) => {
        // Prevent the mini-infobar from appearing on mobile
        e.preventDefault();
        // Stash the event so it can be triggered later.
        deferredPrompt = e;
        // Update UI notify the user they can install the PWA
        showInstallPromotion();
        const buttonInstall = document.getElementById('btn')

        buttonInstall.addEventListener('click', (e) => {
            // Hide the app provided install promotion
            hideMyInstallPromotion();
            // Show the install prompt
            deferredPrompt.prompt();
            // Wait for the user to respond to the prompt
            deferredPrompt.userChoice.then((choiceResult) => {
              if (choiceResult.outcome === 'accepted') {
                console.log('User accepted the install prompt');
              } else {
                console.log('User dismissed the install prompt');
              }
            })
          });
      });

      window.addEventListener('beforeinstallprompt', function(event) {
            // not show the default browser install app prompt
            event.preventDefault();

            // add the banner here or make it visible
            // …

            // save the event to use it later
            // (it has the important prompt method and userChoice property)
            window.promptEvent = event;
          });

              document.addEventListener('click', function(event) {
                if (event.target.matches('#btn')) {
                  addToHomeScreen();
                }
              });


      function addToHomeScreen() {
            // show the install app prompt
            window.promptEvent.prompt();

            // handle the Decline/Accept choice of the user
            window.promptEvent.userChoice.then(function(choiceResult) {
              // hide the prompt banner here
              // …

              if (choiceResult.outcome === 'accepted') {
                console.info('mm User accepted the A2HS prompt');
              } else {
                console.info('mm User dismissed the A2HS prompt');
              }

              window.promptEvent = null;
            });
          }


  </script>
  </body>
</html>
