<%- content_for :subnav, 'Identity' -%>

<div class="row justify-content-center id_card">
  <div class="card id_card_box col-10 col-sm-10 col-md-6">
    <div class="d-flex justify-content-center">
      <div class="member_type"><%= @member.member_type %></div>
    </div>
    <div class="d-flex justify-content-center">
      <%= image_tag "default_avatar.svg" %>
    </div>
    <div class="d-flex justify-content-center">
      <h1><%= @member.user.name %></h1>
    </div>
    <div class="d-flex justify-content-center">
      <%- if @member.expires_at %>
        <div class="expires">Exp: <%= @member.expires_at.strftime("%Y-%m-%d") %></div>
      <%- else %>
        <div class="expires">Exp: Never</div>
      <%- end %>
    </div>
    <div class="d-flex justify-content-center last_accessed">
      <%- if @member.activity_logs && @member.activity_logs.length > 0 %>
        <div class="expires">Last accessed: <%= time_ago_in_words(@member.activity_logs.last.created_at) %> ago</div>
      <%- else %>
        <div class="expires">Last accessed: Never</div>
      <%- end %>
    </div>

    <div class="d-flex justify-content-center">
      <%- if @member.expires_at && @member.expires_at < Time.now %>
        <span class="badge badge-danger">Expired</span>
      <%- else %>
        <span class="badge badge-success"><span class="oi oi-circle-check"></span> Valid</span>
      <%- end %>
    </div>

    <div class="d-flex justify-content-center">
      <a href="<%= member_activity_logs_path(@member) -%>">Entry Logs <span class="oi oi-chevron-right"></span></a>
    </div>

  </div>

</div>

<div class="row justify-content-center log-entry-form">
  <div class="col-10 col-sm-10 col-md-6">
    <%= form_with(model: @activity_log) do |f| %>
      <%= f.hidden_field :member_id %>
      <%= f.submit("Log an entry", class: "btn btn-primary btn-lg btn-block active") %>
    <% end %>
  </div>
</div>
<div class="row justify-content-center">
  <div class="d-flex justify-content-center">
    <h5>
      <a href="/">Done</a>
    </h5>
  </div>

</div>
